@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400&family=Zen+Loop&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Toastify__toast-body {
  font-family: "Zen Loop";
  font-weight: bold;
  font-size: 1.5rem;
}
